---
import Fancybox from '../components/fancybox.tsx';
import { Image } from 'astro:assets';

const response = await fetch("https://rickandmortyapi.com/graphql",
  {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `
      query {
  characters(page: 1, filter: { name: "rick" }) {
    info {
      count
    }
    results {
      id
      name
      image
    }
  }
  location(id: 1) {
    id
  }
  episodesByIds(ids: [1, 2]) {
    id
  }
}
      `,
      variables: {
        id: "ZmlsbXM6MQ==",
      },
    }),
  });

  const json = await response.json();
  const { characters } = json.data;
---

<div>
    {characters.results.map((character) => (
            <a data-fancybox="gallery" href={character.image}>
            <Image
                src={character.image}
                alt={character.name}
                width="200"
                height="150" />
            </a>)
        )}
  </div>