---
const response = await fetch("https://rickandmortyapi.com/graphql",
  {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `
        query {
          locations
            {
            results {
              id
              name
              type
              dimension
            
            }
          }
        }
      `,
      variables: {
        id: "ZmlsbXM6MQ==",
      },
    }),
  });


import BaseLayout from '../layouts/BaseLayout.astro';

const json = await response.json();
const { locations } = json.data;


---

<style>

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:20px;
  }

  .card {
    flex-basis: 33%;
    font-weight: normal;
  }

  .title {
    font-size: 22px;
  }
  
  .subTitle {
    font-size: 16px;
  }

</style>



<BaseLayout title="Locations">
    <div class="container">
      {locations.results.map((location) => {
          return <div class="card" id={location.id}> 
          <h2 class="subTitle">{location.name}</h2>
          <p>Type: {location.type}</p>
          <p>Dimension: {location.dimension}</p>
        </div>
      })}  
    </div>
</BaseLayout>