---
import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import { ViewTransitions } from 'astro:transitions';
const { title } = Astro.props

---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content={Astro.generator}>
    <ViewTransitions />
  </head>
  <body>
    <img src="" alt="">
    <div>
    <Nav />
    <Header title={title}/>
    <slot /> <!-- your content is injected here -->
    <!-- <Footer /> -->
    </div>
  </body>
</html>